# ignore all subsequent file formats
*.pdf
*.csv
*.html
*.xlsx
*.txt
*.png
*.log
*.docx

# ignore all files ending with
# do not update selected files
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rproj
.Rproj.user


# ignore subequent folders
/raw data
/clean data
/augmented data
/files
/analysen
/archive
/plots