# ignore all subsequent file formats

*.pdf
*.csv
*.html
*.xlsx
*.txt
*.png
*.log
*.docx
*.dotx

# ignore all files ending with
# do not update selected files

*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rproj



# ignore subequent folders

/analysen
/archive
/papers
/plots
/raw data
/.Rproj.user
