# ignore all subsequent file formats

*.pdf
*.csv
*.html
*.xlsx
*.txt
*.png
*.log
*.docx
*.dotx

# ignore all files ending with
# do not update selected files

*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
.Rproj



# ignore subequent folders

/raw data
/clean data
/augmented data
/files
/analysen
/archive
/plots
/papers
/survey meat
/publications
/scripts from another project
/fonts
/weather_food
/export_zenodo
.Rproj.user
